<div>
    <div class="ui left aligned grid" style="padding-bottom:5px;">


            <div class="twelve wide field" style="padding-top:5px;">
                <h3 class="ui header">{{ buildingName }}</h3>
            </div>

            <div class="right floated right aligned two wide column">
                delete
            </div>
            <div class="right floated left aligned one wide column">
                <div class="ui large labeled button" ng-click="removeProp()" style="margin-top:.1em;">
                    <i class="minus red circle icon"></i>
                </div>
            </div>

    </div>

    <div class="inline fields">
        <div class="sixteen wide field">
            <label style="width: 200px">Gross Floor Area</label>
            <div class="ten wide field required" ng-class="{error: !propertyModel.GFA && forms.hasValidated}">
              <input type="number" ng-model="propertyModel.GFA"
                   required
                   min="0"
                   placeholder="GFA">
            </div>
            <div class="six wide field required" ng-class="{error: !propertyModel.areaUnits && forms.hasValidated}">
              <select class="ui dropdown"
                  dropdown
                  ng-model="propertyModel.areaUnits"
                  ng-options="item.id as item.name for item in buildingProperties.areaUnits"
                  required>
                <option value="">Select</option>
              </select>
            </div>
          </div>
    </div>

</div>


